body {background-color: #e5e5e5; }

/* Navbar styling */
.navbar {
    opacity:.98;
    height: 6.5vh; 
    max-height: 60px;
}

/* Big page styles */
.row {
    width: 95vw;
    height: 80vh;
    max-width: 1200px;
}

/* Side panel styling */

.well {
  background-color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 4px 10px 10px 0 rgba(0,0,0,.1);
}

/* select {
  box-shadow: 4px 5px 5px 0 rgba(0,0,0,.1);
  background-color: #e5e5e5;
  border: 0;
  padding: 2em;
  border-radius: 20px;
} */

.form-floating > label {
  padding: 1%;
  color:#48298C;
  font-size: large;
}

label {
  padding: 1%;
  color:#48298C;
  font-size: large;
}


.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 76%;
  height: 10px;
  border-radius: 5px;
  background: #e5e5e5;
  outline: none;
  padding: 0;
  margin: 0;

}

/* Range Label */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: auto;
  color: #fcfcfc;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #48298C;
  padding: 5px 1px;
  margin-left: 3px;
}

.range-slider__value::after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #48298C;
  border-bottom: 7px solid transparent;
  content: '';
}

.range-slider2 {
  width: 100%;
}

.range-slider__range2 {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #e5e5e5;
  outline: none;
  padding: 0;
  margin: 0;

}

.slider_bookend {
background: #48298C;
color: #fcfcfc;
}

/* // Firefox Overrides */
::-moz-range-track {
    background: #e5e5e5;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

/* submission well */

#meshUpload.btn {
  border: #e5e5e5;
  border-style: solid;
  border-width: thin;
  color:#48298C;
}

#meshUpload.btn:hover {
  border: #e5e5e5;
  border-style: solid;
  border-width: thin;
  color:#e5e5e5;
  background-color: #48298C;
}

/* Main window styling */
.nav-item > button:hover {
    border-radius: 20px 20px 0px 0px;
    border-color: #fcfcfc;
    color: #48298C;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
  }
       
.nav-item > button {
    background-color: transparent; 
    color:black;
    border-color: transparent;
  }

.nav-tabs .nav-link.active{
    border-radius: 20px 20px 0px 0px;
    background-color: #48298C;
    border-color: #48298C;
    color: #fcfcfc

}

#renderCanvas{
  margin: 0 auto;

    border-radius: 0px 20px 20px 20px;
    box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
    width: 100%;
    height: 65vh;
    /* touch-action: none; */
}

#Comparisons{
    height:100vh
}

#renderCanvas2{
    margin: 0 auto;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
    width: 90%;
    height: 45%;
    touch-action: none;
}

.hmBanner{
  font-size: xx-large;
}

#mynetwork {
    margin: 0 auto;
    width: 70%;
    height: 40%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
    background-color: #fcfcfc;
}

#similarityScores {
  margin: 0 auto;
  width: 80%;
  height: 40%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
  background-color: #fcfcfc;
  overflow: hidden;
}

#hdrdaResult {
  margin: 0 auto;
  width: 80%;
  height: 40%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
  background-color: #fcfcfc;
  overflow: hidden;
}

.draglayer{
  height:100%;
}

/* submission tab styling */
#submissionCanvas{
  margin: 0 auto;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
  width: 90%;
  height: 45%;
  touch-action: none;
}


img{
  border-radius: 40px;
}

#q1{   
    position: absolute;
    right: 35px;
    }

#texture_help{   
    position: absolute;
    right: 35px;
    }


@media only screen and (max-width: 768px) {
  /* For phones */
#Gestalts > canvas{
   border-radius: 0px 20px 20px 20px;
   width: 93.5vw;
}

#Comparisons > canvas{
   border-radius: 0px 20px 20px 20px;
   width: 93.5vw;
}

#Submitted > canvas{
   border-radius: 0px 20px 20px 20px;
   width: 90.5vw;
}

#mynetwork {
  margin: 0 auto;
  width: 92vw;
  height: 40%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 12px 12px 15px 1px rgba(0,0,0,.1);
  background-color: #fcfcfc;
}

.hmBanner {
  font-size: x-large;
}

.col-sm-12{
  width: 90.5vw;
  height: 30vh;
  
}

.well{
    width: 90vw;
}

}



